<h1>
  <% if @name  %>
    My name is <%= @name %>
  <% end %>
</h1>
<form action="/named-cat">
  <label for="name">Chose a name for your Kitty:</label>
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>

<h2>
  <% if @age %>
    I am a sweet little kitty of <%= @age %>
  <% end %>
</h2>

<div>
  <img
  style='border: 5px dotted blue;
              border-radius: 50px'
  src='http://bit.ly/1eze8aE'/>
</div>
